<h1 style="text-align: center">Sign Up</h1>

<div class="card" style="width: 350px; margin-left: auto; margin-right: auto">
  <div class="card-block">

    <% if @user.errors.any? %>
      <div id="error_explanation" class="alert alert-danger">
        <strong>
          Cannot save due to <%= pluralize(@user.errors.count, "error") %>
        </strong>
          <ul>
            <% @user.errors.full_messages.each do |msg| %>
              <li><%= msg %></li>
            <% end %>
          </ul>
      </div>
    <% end %>

    <%= form_for @user do |f| %>
      <div class="form-group">
        <%= f.text_field :name, class: "form-control", placeholder: "Name" %>
      </div>
      <div class="form-group">
        <%= f.text_field :email, class: "form-control", placeholder: "Email"  %>
      </div>
      <div class="form-group">
        <%= f.text_field :password, class: "form-control", placeholder: "Password"   %>
      </div>
      <div class="form-group">
        <%= f.text_field :password_confirmation, class: "form-control", placeholder: "Confirm Password"  %>
      </div>
      <div class="form-group">
        <%= f.submit class: "btn btn-primary"%>
      </div>
    <% end %>
  </div>
</div>
