<!DOCTYPE html>
<html>
  <head>
    <title>Lab51</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
  </head>

  <body>
    <nav class="navbar navbar-light bg-faded">
      <% if current_user %>
        <%= link_to "Log out #{current_user.email}", "/", class: "navbar-brand" %>
      <% else %>
        <a class="navbar-brand" href="/users/new">Sign Up</a>
      <% end %>
    </nav>
    <%= flash_messages %>
    <%= yield %>
  </body>
</html>
